@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body,
html,
input {
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}

#app{
  font-family: "Montserrat", sans-serif;
  font-size: 12pt;
}

#visualization {
  position: relative;
}

.menu {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  bottom: -50px;
  right: 0;
  margin: 10px;
  z-index: 9999;
}

.range {
  margin: -12px 12px 0 0;
  background: #333;
}

label,
input {
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  height: 20px;
  /* margin-top: -12px; */
  margin-right: 12px;
}

.buttons-menu {
  background-color: #555;
  color: #fff;
  padding: 4px;
  border-radius: 50px;
  cursor: pointer;
}

.buttons-menu:hover {
  opacity: 0.9;
}

#input-container {
  padding: 12px 36px;
  margin-top: 90px;
}

#input-container-title {
  color: #1C7666;
  font-weight: 800;
}

#save-button {
  margin-top: 24px;
}

.timeline-title {
  margin-top: 60px;
  color: #747474;
}

.center {
  display: flex;
  justify-content: center;
}

.vis-item {
  border-color: orange;
  background-color: yellow;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: -122px;
}
.navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 122px;
  width: 50px;
  z-index: 10;
  border:1px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.left {
  box-shadow: 6px 0px 10px -10px rgba(0,0,0,0.75);
}
.right{
  box-shadow: -6px 0px 10px -10px rgba(0,0,0,0.75);
}
.arrow {
  color: #808080;
}
.material-icons {
  font-size: 36px;
}
