<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/full-style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
<body>
    <div id="app">
        <v-app>
        <v-main>
            <v-container>
                <v-card>
                    <v-container grid-list-lg id="input-container">
                        <v-row>
                            <v-col cols="12">
                                <h3 id="input-container-title">
                                    RESERVAR
                                </h3>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="5">
                                <span>Nombre</span>
                                <v-text-field
                                    v-model="currentItem.content"
                                    solo>
                                </v-text-field>
                            </v-col>
                            <v-col cols="2">
                                <span>Fecha</span>
                                <v-text-field
                                    v-model="currentItem.date"
                                    append-icon="mdi-calendar"
                                    solo>
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <span>Desde</span>
                                <v-text-field
                                    v-model="currentItem.timeFrom"
                                    append-icon="mdi-clock-outline"
                                    solo>
                                </v-text-field>
                            </v-col>
                            <v-col>
                                <span>Hasta</span>
                                <v-text-field
                                    v-model="currentItem.timeTo"
                                    append-icon="mdi-clock-outline"
                                    solo>
                                </v-text-field>
                            </v-col>
                            <v-col cols="2">
                                <v-btn
                                    @click="saveItem"
                                    id="save-button"
                                    color="#00AA8F"
                                    height="49"
                                    dark
                                    block>
                                    Guardar
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
                <h3 class="timeline-title">
                    <b>Agenda de reservas</b>
                </h3>
                <div id="visualization">
                    <div class="menu">
                        <input style="display:none;" id="sliderZoom" type="range" class="range" name="a" min="-1" max="1" step="0.1"
                            value="0" />
                        <!-- <i class="material-icons dp48 buttons-menu" id="fit">home</i>
                        <i class="material-icons dp48 buttons-menu" id="moveLeft">arrow_back</i>
                        <i class="material-icons dp48 buttons-menu" id="moveRight">arrow_forward</i> -->
                    </div>
                </div>
                <br /><br /><br />
                <v-data-table
                    :items="formattedItems"
                    :headers="headers"
                    hide-default-footer
                    sort-by="time"
                    must-sort>
                    <template v-slot:item.name="{ item }">
                        <td style="width:700px"><b>{{ item.name }}</b></td>
                    </template>
                    <template v-slot:item.action="{ item }">
                        <td class="center">
                            <i @click="deleteItem(item.id)" class="material-icons dp48" style="color: lightgrey; cursor: pointer;">
                                delete
                            </i>
                        </td>
                    </template>
                </v-data-table>
            </v-container>
        </v-main>
        </v-app>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/vis.js"></script>
    <script src="js/script.js"></script>
</body>
</html>